<h2>operadormatico</h2>
<form action="{% url 'encuesta:operaciones_respuesta' %}" method="post">
    {% csrf_token %}
    Número:
    <input type="text" name="num_1" maxlength="50">
    <br>
    Número:
    <input type="text" name="num_2" maxlength="50">
    <br> 
    Operación:
    <select name="operaciones">
        <option value="+">suma</option>
        <option value="-" selected>diferencia</option>
        <option value="*">producto</option>
        <option value="/">cociente</option>
      </select> 
    <input type="submit" name="submit" value="Calcular">
</form>